#form-createUser input, #form-createUser select {
    padding:10px;
    display:block;
    margin:10px 10px 10px 0px;
    width:300px;
    border-radius:5px;
    outline:none;
    border:1px solid #00a651;
    color: #00a651;
}.modal-create-user {
    display: table;
    width: auto;
}#td-buttons a{
    margin:0px 5px;
}